h1 {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    text-transform: uppercase;
    color: #F6F6F6;
    font-size: 1.8em;
    letter-spacing: 8px;
}


p {
    font-family:  'Open Sans', sans-serif;
    font-size: 0.7em;
    letter-spacing: 2px;
    text-align: center;
}

span {
    color: #EAC7CC;
}

button {
    padding: 12px;
    font-family:  'Open Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 11px;
    border-radius: 10px;
    margin: auto;
    outline: none;
    display: block;
}

button:hover {
    background-color: #EAC7CC;
    color: #F6F6F6;
}

.button {
    margin-top: 3%;
    background-color: #F6F6F6;
    color: #ce7d88;
    border: solid 1px #EAC7CC;
}

select {
    background: #EAC7CC;
    color: #ce7d88;
    border: none;
    border-bottom: 1px solid rgba(246, 246, 246, 0.5);
}

input::placeholder {
    color: #f6f6f6;
    letter-spacing: 2px;
    font-size: 0.9em;
    font-weight: 100;
}

input:focus {
    color:#ce7d88;
    outline: none;
    border-bottom: 1.2px solid rgba(206, 125, 136, 0.7);
}


input[type="password"]{
    font-family: serif;
}

.input {
    background: #EAC7CC;
    color: #ce7d88;
    font-size: small;
    border: none;
    border-bottom: 1px solid rgba(246, 246, 246, 0.5);
    padding: 2px;
}


 


.nodisplay {
    display: none;
    transition: all 0.5s ease;
}


.title {
    font-family: 'Lora', serif;
    color: #8E9AAF;
    line-height: 1.1em;
    letter-spacing: 3px;
    text-align: center;
    font-weight: 300;
    margin-top: 10%;
    margin-bottom: 5%;
}

.desc {
    margin-top: -10px;
    color: #8E9AAF;
}

