@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Binggrae';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Binggrae.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    font-family:'Binggrae' ;
    @apply flex flex-col items-center
}

#root {
    @apply  w-full max-w-screen-2xl;
}